// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  letter-spacing: 5px;
}
body {
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
}
input[type=submit] {
  background-color: #4369BA;
  color: white;
  border-radius: 5px;
  font-size: 24px;
}
input[type=text] {
  border-radius: 5px;
  font-size: 24px;
}
